/* Donate Slide Styles
------------------------------------ */
#deed-donate-slide {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#deed-donate-slide button,
#deed-donate-slide input[type="reset"],
#deed-donate-slide input[type="button"],
#deed-donate-slide input[type="submit"] {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.046875em;
}

.js #deed-donate-slide {
  display: none;
}
.js #deed-donate-slide.reveal {
  display: block;
}
#deed-donate-slide {
  width: 90%;
  margin: 0 auto;
  line-height: 17px;
  text-align: center;
  color: #fff;
}

#deed-donate-slide.slider {
  width: 100%;
  margin: 0 auto 0 -400px;
  position: absolute;
  left: 0px;
  overflow: scroll;
  top: 205px;
  z-index: 1000;
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  -ms-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}

#deed-donate-slide.slider.reveal {
  margin-left: calc(50% - 700px);
}

#deed-donate-slide .manual-wrap {
  white-space: pre;
}

/* -- Yellow Ribbon -- */
#deed-donate-slide .yellow-ribbon {
  background-color: #feeb32;
  box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  height: 62px;
  line-height: 1.3em;
  margin: 5px auto;
  max-width: 600px;
  padding: 10px 0px;
  position: relative;
  width: 80%;
}

#deed-donate-slide .yellow-ribbon::before,
#deed-donate-slide .yellow-ribbon::after {
  border: 31px solid #feeb32;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
}

#deed-donate-slide .yellow-ribbon::before {
  border-left-color: transparent;
  left: -35px;
}

#deed-donate-slide .yellow-ribbon::after {
  border-right-color: transparent;
  right: -35px;
}

#deed-donate-slide .yellow-ribbon span {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 480px) and (max-width: 1219px) {
  #deed-donate-slide .yellow-ribbon {
    font-size: 18px;
    padding: 10px 5%;
  }
}

@media screen and (min-width: 620px) and (max-width: 1219px) {
  #deed-donate-slide .yellow-ribbon {
    padding: 18px 0px;
  }
}

@media screen and (min-width: 48.9375em) and (max-width: 1219px) {
  /* $table-md-layout */

  #deed-donate-slide .yellow-ribbon {
    font-size: 20px;
    margin-bottom: 30px;
    padding: 18px 0px;
  }

  #deed-donate-slide .yellow-ribbon::before {
    left: auto;
    right: 100%;
  }

  #deed-donate-slide .yellow-ribbon::after {
    left: 100%;
    right: auto;
  }
}

@media screen and (min-width: 56.875em) and (max-width: 1219px) {
  /* $desktop-sm-layout */

  #deed-donate-slide .yellow-ribbon {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 75em) and (max-width: 1219px) {
  /* $desktop-lg-layout */

  #deed-donate-slide .yellow-ribbon {
    font-size: 24px;
  }
}

@media screen and (min-width: 1220px) {
  #deed-donate-slide .yellow-ribbon {
    margin: 110px auto 10px auto;
  }
}

/* -- End of: Yellow Ribbon -- */

form#gform_10 > .gform_body {
  display: none;
}

@media screen and (min-width: 1220px) {
  form#gform_10 > .gform_body {
    display: block;
  }
}

/* -- Donate form: title -- */
.donate-box h2 {
  align-items: center;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1em;
  margin: 0px;
  min-height: 60px;
  text-align: center;
}

.donate-box h2 .contribute-today {
  display: block;
  font-size: 0.7em;
  line-height: 1.1em;
  margin-top: 0.5em;
}
/* -- End of: Donate form: title -- */

#deed-donate-slide .no-wrap {
  white-space: nowrap;
}

.donate-box .gform_fields {
  margin-top: 0;
}

.slide-close {
  background: url("https://creativecommons.org/images/deed/slide-close.png")
    no-repeat 1px 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 18px;
  height: 17px;
  display: block;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  right: 5px;
  top: 5px;
  text-indent: -99999px;
  z-index: 999;
}
.slide-close:hover {
  opacity: 1;
}

.slide-tab {
  display: none;
}

/* --- Message --- */
.slide-trigger {
  display: block;
  background-color: #158b95;
  overflow: hidden;
  padding: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide-trigger img.cc-logo {
  display: block;
  left: 50%;
  margin: 0;
  max-width: 200%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1220px) {
  .slide-trigger img.cc-logo {
    max-width: 300%;
    top: -7%;
    transform: translateX(-50%);
  }
}

.slide-trigger p {
  margin: 0;
  font-weight: 600;
  cursor: pointer;
}

.slide-trigger button {
  background: rgba(70, 34, 18, 0.3);
  display: inline-block;
  padding: 0.5em 1em;
  border: 0;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  margin: 15px 0 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide-trigger button:hover {
  background: rgba(70, 34, 18, 0.6);
}

img.slide-logo {
  padding-top: 40px;
}

/* Donate box */

.donate-box {
  position: relative;
}

.donate-box .widget-inner {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

.donate-box .gform_wrapper {
  margin: 0;
}

@media screen and (min-width: 1220px) {
  .donate-box {
    margin-bottom: 30px;
  }

  .donate-box .widget-inner {
    background: #f3f3f3;
    border-top: 10px solid #01a635;
    padding: 20px;
  }
}

.donate-box .widget-inner .gform_fields > li {
  margin: 0;
}

.donate-box .widget-inner #field_2_1 > label {
  display: none;
}

.donate-box .widget-inner .gfield_radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.donate-box .widget-inner ul {
  padding: 0px;
  list-style-type: none;
  margin: 0;
}

/* Radio buttons */
.gchoice_10_1_3 {
  display: none;
}

.donate-box .widget-inner .gfield_radio > li {
  box-sizing: border-box;
  flex: 0 0 48%;
  margin: 0 0 20px 0;
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
}

.donate-box .widget-inner .gfield_radio > li:last-child {
  border-color: #d4d4d4;
  border-radius: 3px;
  border-style: solid;
  border-width: 4px 4px 4px 40px;
  height: 44px;
  margin-bottom: 0;
  position: relative;
}

.donate-box .widget-inner .gfield_radio > li:last-child::before {
  content: "$";
  font-style: normal;
  font-weight: bold;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
  color: #464646;
  left: -33px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.donate-box .widget-inner .gfield_radio > li:last-child input {
  line-height: 1.6em;
  padding: 5px 4px;
}

.donate-box .widget-inner .gfield_radio > li.selected {
  border-color: #01a635;
}

.donate-box .widget-inner .gfield_radio > li.selected:last-child::before {
  color: #fff;
}

.donate-box .widget-inner .gfield_radio > li input {
  background: #f3f3f3;
  border: 0 none;
  margin-bottom: 0;
  width: 80%;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.2em;
}

.donate-box .widget-inner .gfield_radio > li input[type="radio"] {
  display: none;
}

.donate-box .widget-inner .gfield_radio > li label {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1em;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0.5em 0em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(top, #ffffff, #d3d3d3);
  background-image: linear-gradient(180deg, #ffffff, #d3d3d3);
  border-color: #d4d4d4;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.6);
  color: #333333;
  display: block;
  width: 100%;
}

.donate-box .widget-inner .gfield_radio > li label:hover {
  background: linear-gradient(0deg, #d2d2d2, #a1a1a1);
  border-color: #b2b2b2;
}

.donate-box
  .widget-inner
  .gfield_radio
  > li
  input[type="radio"]:checked
  + label {
  background: #01a635;
  border-color: #018d2d;
  border-right-color: #01bf3d;
  border-top-color: #0ffe5a;
  box-shadow: 1px 1px 0px 1px rgba(0, 65, 21, 0.6);
  color: #fff;
}

@media screen and (min-width: 44.375em) and (max-width: 1219px) {
  /* $tablet-sm-layout */

  .donate-box .widget-inner .gfield_radio {
    margin: 20px 0;
  }

  .donate-box .widget-inner .gfield_radio > li {
    flex-basis: 15%;
    margin-bottom: 0 !important;
  }

  .donate-box .widget-inner .gfield_radio > li.gchoice_10_1_3 {
    display: block;
  }

  .donate-box .widget-inner .gfield_radio > li:last-child {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 61.5625em) and (max-width: 1219px) {
  /* $desktop-sm-layout */
  .donate-box .widget-inner .gfield_radio {
    padding-right: 200px;
  }
}
/* End of: Radio buttons */
.gform_footer {
  margin: 0;
  padding: 0;
  width: 100%;
}

.gform_button[value="Donate Now"] {
  background: url("https://creativecommons.org/includes/donate-button-bevel-sprite.png")
    no-repeat right top;
  background-size: auto 94px;
  box-shadow: none;
  border: 0 none;
  color: white;
  font-size: 20px;
  line-height: 1em;
  height: 47px;
  margin: 10px 10px 0 0 !important;
  max-width: 232px;
  padding: 10px 0.846153846em;
  text-transform: none !important;
  width: 100%;
}

.gform_button[value="Donate Now"]:hover,
.gform_button[value="Donate Now"]:focus {
  background-position: right bottom;
}

/* end donate box */

#deed-donate-slide .footer-note {
  display: none;
}

@media screen and (min-width: 620px) {
  #deed-donate-slide .footer-note {
    font-size: 18px;
    line-height: 1.3em;
    margin: 30px auto;
    padding: 0 20px;
  }
}

#deed-donate-slide .footer-note p {
  font-weight: normal;
}

@media screen and (max-width: 1219px) {
  #deed-donate-slide .manual-wrap {
    white-space: normal;
  }
  #deed-donate-slide.slider.reveal {
    margin-left: 0;
  }

  #deed-donate-slide.slider {
    top: auto;
    z-index: 100;
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    margin: 0;
    text-align: center;
    -webkit-transition: bottom 0.5s ease-in-out;
    -moz-transition: bottom 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out;
    -ms-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
  }

  #deed-donate-slide.reveal {
    bottom: 0;
  }

  .slide-trigger {
    padding: 10px;
  }

  img.slide-logo {
    display: none;
  }

  .slide-trigger button {
    margin: 5px 0 0;
  }
}

@media screen and (min-width: 1220px) {
  #deed-donate-slide.slider {
    overflow: hidden;
    width: 320px;
  }
  #deed-donate-slide.slider.reveal {
    margin-left: -0px;
  }
}

/* Fix bug with footer overlaying overlay. */

footer #colophon {
  z-index: 0;
}
