body {
	background: #fff;
	font: 14px helvetica, arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: #333;
}

h1 {
	line-height: 1.15;
	padding-bottom: 0.25em;
}

a {
	text-decoration: none;
	color: #1F5E99;
}

a:hover {
	text-decoration: underline;
}

#header {
	background: #5AA322;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.96, #5aa322), color-stop(1.05, #050));
	background: -moz-linear-gradient(top, #5aa322 97%, #050 105%);
/*	padding-top: 55px;*/
	padding-top: 25px;
	text-align: center;
	padding-bottom: 30px;
}

.mainContent {
	width: 960px;
	margin: 75px auto 0;
	text-align: center;
}

#search {
	display: inline-block;
	position: relative;
}

#search fieldset {
	padding-top: 15px;
	border: none;
}

#search input, #search option {
	font-family: helvetica, arial, sans-serif;
	font-size: 200%;
}

#query {
	width: 400px;
	padding: 3px;
}

#submit {
	font-size: 125%;
	font-family: helvetica, arial, sans-serif;
}

#engine {
	display: inline-block;
	text-align: left;
	margin: 0 5px;
}
#engine p {
	margin: 0;
	font-size: 12px;
	padding-left: 2px;
}
#engineInfo {
	position: absolute;
	width: 150px;
	padding: 5px 10px;
	margin-top: 0.4em;
	border: 1px solid #bbb;
	text-align: left;
	background-color: #eaeaea;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px #bbb;
}
#engineInfo p {
	padding: 0;
	margin: 0;
}

#engineInfo div { display: none;}

#permissions {
	padding: 0;
	margin: 0;
	text-align: left;
}

#permissions input { margin-right: 0;}

#resultsRow {
	background-color: #eee;
	min-height: 140px;
	margin: 25px 0;
	padding: 5px;
/*	-webkit-box-shadow: 0 0 5px #999;
*//*	-webkit-border-radius: 5px;*/
	text-align: center;
}

#resultsRow .images img {
	margin-right: 10px;
	border: 1px solid rgba(31, 94, 153, 0.5);
	padding: 1px;
/*	-webkit-box-shadow: 0 0 5px #1F5E99;*/
}

#resultsRow .images img:hover {
	border: 1px solid rgba(31, 94, 153, 1.0);

}

#help {
/*	margin-top: 75px;*/
	text-align: left;
	overflow-y: auto;
}

.column {
	width: 290px;
	margin-left: 40px;
	float: left;
}

.column ul {
	padding-left: 1.25em;
	line-height: 1.25;
}
.column ul li {
	margin-bottom: 0.5em;
}

#help .column:first-child { margin-left: 0; }

.wrong {
	background-color: #FEE0A2;
	padding: 0 15px;
	margin-top: 9px;
	width: 260px;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: inset 0 2px 3px rgba(128, 128, 128, 0.35);
	-moz-border-radius: 7px;
	-moz-box-shadow: inset 0 2px 3px rgba(128, 128, 128, 0.35);
}

.column h1 {
	border-bottom: 1px dashed #aaa;
}

.wrong h1 {
	padding-top: 0;
	margin-top: 10px;
	color: rgba(32, 32, 32, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
	border-bottom-color: rgba(32, 32, 32, 0.4);
}

#footer {
	margin-top: 75px;
	border-top: 1px solid #bbb;
	padding: 8px 0 50px;
	text-align: left;
}