body {
	background: #fff;
	font: 14px helvetica, arial, sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	color: #333;
}

h1 {
	line-height: 1.15;
	padding-bottom: 0.25em;
}

a {
	text-decoration: none;
	color: #1F5E99;
}

a:hover {
	text-decoration: underline;
}

#header {
	background: #5AA322;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.96, #5aa322), color-stop(1.05, #050)) #5aa322;
	background: -moz-linear-gradient(top, #5aa322 97%, #050 105%) #5aa322;
/*	padding-top: 55px;*/
	padding-top: 25px;
	text-align: center;
	padding-bottom: 30px;
}

.mainContent {
/*	width: 960px;*/
	width: 86%;
	min-width: 700px;
	max-width: 1100px;
/*	background-color: #eee;*/
	margin: 50px auto 0;
	text-align: center;
	position: relative;
}

#beta {
	position: absolute;
	right: -148px;
	top: 1.5em;
	background-color: #eaeaea;
	padding: 0 10px;
	height: 18px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px #b3b3b3;
	-moz-box-shadow: inset 0 0 3px #b3b3b3;
	font-size: 0.85em;
}

#search {
	display: inline-block;
	position: relative;
  width: 690px;
}

#search fieldset {
	padding-top: 15px;
	border: none;
}

#search input, #search option {
	font-family: helvetica, arial, sans-serif;
	font-size: 200%;
}

#query {
	width: 100%;
	padding: 3px;
}

#submit {
	font-size: 125%;
	font-family: helvetica, arial, sans-serif;
}

#engine {
	display: inline-block;
	text-align: left;
	margin: 0 5px;
}
#engine p {
	margin: 0;
	font-size: 12px;
	padding-left: 2px;
}
#engineInfo {
	position: absolute;
	width: 150px;
	padding: 5px 10px;
	margin-top: 0.4em;
	border: 1px solid #bbb;
	text-align: left;
	background-color: #eaeaea;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 3px #bbb;
}
#engineInfo p {
	padding: 0;
	margin: 0;
}

#engineInfo div { display: none;}

fieldset {
	padding: 0;
	margin: 0;
	text-align: left;
/*	font-size: small;*/
}

#secondaryOptions {
	position: relative;
	text-align: left;
}

#permissions {
	padding: 0;
	margin: 0;
/*	text-align: left;*/
}

#permissions input { margin-right: 0;}

#engines input { margin-right: 4px; margin-left: 0;}
#engines p { margin: 0;}
#engines label { 
  display: inline-block;
  padding-right: 3px; 
}

#engines { line-height: 2.25;}

#engines .engine {
  display: inline-block;
  padding: 5px 2px 2px 0;
  min-width: 100px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
}
#engines .engine:hover {
  background-color: #f0f0f0;
}

#engines .engine, #engines label {
  cursor: pointer;
}
#engines .selected {
  border-color: #cedcff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
#engines .selected, #engines .selected:hover {
  background-color: #e7eeff;
}

#engines .engine:active {
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

#engines .engineDesc {
	display: inline-block;
	line-height: 1.4;
	padding-right: 5px;
	font-size: 11px;
	color: #555;
}

#engines .engineDesc strong { font-size: 13px; color: #333;}

#engines .engineRadio {
	display: inline-block;
	line-height: 0.85;
	padding-left: 3px;
}

#resultsRow {
	background-color: #eee;
	min-height: 140px;
	margin: 25px 0;
	padding: 5px;
/*	-webkit-box-shadow: 0 0 5px #999;
*//*	-webkit-border-radius: 5px;*/
	text-align: center;
}

#resultsRow .images img {
	margin-right: 10px;
	border: 1px solid rgba(31, 94, 153, 0.5);
	padding: 1px;
/*	-webkit-box-shadow: 0 0 5px #1F5E99;*/
}

#resultsRow .images img:hover {
	border: 1px solid rgba(31, 94, 153, 1.0);

}

#help {
	padding-left: 12%;
	margin-top: 35px;
	text-align: left;
	overflow-y: auto;
}

#help p {
	margin-bottom: 1.5em;
	margin-top: 0;
}

.column {
/*	width: 290px;*/
	width: 40%;
	margin-left: 4.5%;
	float: left;
}

.column ul {
	padding-left: 1.25em;
	line-height: 1.25;
}
.column ul li {
	margin-bottom: 0.5em;
}

#help .column:first-child { margin-left: 0; }

.wrong {
	background-color: #FEE0A2;
	padding: 0 15px;
	margin-top: 9px;
/*	width: 260px;*/
	width: 40%;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: inset 0 2px 3px rgba(128, 128, 128, 0.35);
	-moz-border-radius: 7px;
	-moz-box-shadow: inset 0 2px 3px rgba(128, 128, 128, 0.35);
}

.column h1 {
	border-bottom: 1px dashed #aaa;
}

#remove, #add, #addressBar, #searchBar { display: none; }

.wrong h1 {
	padding-top: 0;
	margin-top: 10px;
	color: rgba(32, 32, 32, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
	border-bottom-color: rgba(32, 32, 32, 0.4);
}

#footer {
	margin-top: 75px;
	border-top: 1px solid #bbb;
	padding: 8px 0 50px;
	text-align: left;
}
