
#submit {
  padding: 3px 5px;
}

#engines .engine {
  display: block;
  float: left;
  width: 150px;
  padding: 2px 5px 5px;
  margin-right: 5px;
}

#help .column:first-child { padding-top: 15px; }

.wrong {
  margin-top: 9px;
}

