@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://unpkg.com/@creativecommons/fonts@2020.9.4/css/fonts.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  /* max-width: 1200px; */
  /* border: 1px solid red; */
  /* flex-grow: 1; */
  margin: 0 auto;
  padding: 20px;
  /* position: relative; */
  /* width: auto; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2rem;
  z-index: 30;
}

.navbar-brand {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
}



/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  padding: 24px;
  margin-top: 80px;
}

.footer-cont {
  margin: 0 ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.footer-first-sect {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
