@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://unpkg.com/@creativecommons/fonts@2020.9.4/css/fonts.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  /* max-width: 1200px; */
  border: 1px solid red;
  /* flex-grow: 1; */
  margin: 0 auto;
  padding: 20px;
  /* position: relative; */
  /* width: auto; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2rem;
  /* min-height: 3.25rem;
  position: relative; */
  z-index: 30;
}

/* .navbar h4, .blog, .navbar-content a {
  color: #767676;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18.4px;
  font-weight: 700;
  padding: 8px 12px;
} */

.navbar-brand {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
}

/* .navbar-menu {
  display: flex;
  align-items: center;
  gap: 24px;
  overflow: hidden;
}

.navbar-dropdown {
  color: white;
  
}

.navbar-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.navbar-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-holder:hover .navbar-content {
  margin-top: 4px;
  display: block;
} */

/* .navbar-menu li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.navbar-menu li:hover > ul,
.navbar li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navbar li ul li {
  clear: both;
  width: 100%;
} */

/* .navbar-menu {
  display: none;
} */

/* @media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
  .navbar {
    min-height: 3.25rem;
    align-items: stretch;
    display: flex;
  }
  .navbar-menu {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
  
} */

/* @media screen and (max-width: 1215px) {
  .container.is-widescreen:not(.is-max-desktop) {
    max-width: 1152px;
  }
}
@media screen and (max-width: 1311px) {
  .container.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1248px;
  }
}
@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1312px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1248px;
  }
} */

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
