@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://unpkg.com/@creativecommons/fonts@2020.9.4/css/fonts.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  /* max-width: 1200px; */
  /* border: 1px solid red; */
  /* flex-grow: 1; */
  margin: 0 auto;
  padding: 20px;
  /* position: relative; */
  /* width: auto; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 2rem;
  z-index: 30;
}

.navbar-brand {
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  min-height: 3.25rem;
}


/* BODY */
.body-cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.open-verse {
  margin: 16px 0;
  padding: 20px;
  background-color: #fee0a2;
  border-radius: 6px;
  color: #000;
}

.open-verse h3 {
  color: #404040;
  font-size: 18px;
}



/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  padding: 24px;
  margin-top: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

footer a {
  color: #05b5da;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.footer-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
}

.footer-sect {
  padding: 12px;
}

.footer-first-sect {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

address {
  font-style: normal;
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.footer-second-sect {
  margin-top: 30px;
}

.footer-second-sect p {
  font-size: 13px;
  margin-bottom: 8px;
}

.footer-second-sect a {
  font-size: 13px;
}

.footer-third-sect {
  line-height: 1.5;
}

.footer-third-sect h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.footer-third-sect button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #fbd43c;
  color: #000;
  border: none;
  border-radius: 6px;
  padding: 2px 14px;
  margin-top: 24px;
}

.footer-third-sect button a {
  color:#000;
  font-weight: 500;
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
