/* Import vocabulary.css */
@import "../vocabulary/css/vocabulary.css" layer(vocabulary);

/* BODY */

.body-cont {
  margin: 0 auto;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.body-first-sect {
  display: grid;
  place-items: center;
}

.body-search {
  display: flex;
  flex-direction: column; /* Stack items vertically by default */
  align-items: center;
  gap: 10px; /* Add spacing between items */
}

.body-search h3 {
  margin: 0; /* Remove margin to ensure better alignment */
  text-align: center; /* Center align text */
}

.body-search input {
  -webkit-transition: 1s;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  padding: 14px;
  transition: 1s;
  width: 100%; /* Full width on small screens */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.body-search input:focus {
  outline: 2px solid #686666;
}

.search-button {
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 14px;
  width: 100%; /* Full width on small screens */
}

.search-cont {
  display: flex;
}

/* Responsive Design */
@media (min-width: 601px) {
  .body-search {
    flex-direction: row; /* Align items horizontally on larger screens */
    align-items: center;
  }

  .body-search input {
    border-radius: 8px 0 0 8px;
    margin: 0;
    width: auto; /* Adjust width to fit container */
  }

  .search-button {
    border-radius: 0 8px 8px 0;
    width: auto; /* Adjust width to fit container */
  }
}

.body-second-sect {
  margin-top: 20px;
  margin: 0 auto;
  max-width: 943px;
}

.body-second-sect p {
  font-size: 13px;
  margin-bottom: 8px;
}

.search-engines {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.engines {
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.search-engines input[type="radio"] {
  display: none;
}

.search-engines input[type="radio"]:checked + label {
  background: #e7eeff;
  border-color: #cedcff;
}

.search-engines label {
  color: #333;
  font-size: 13px;
  font-weight: 600;
}

.engines h3 {
  width: 100%;
}

.engines p {
  color: #404040;
  font-size: 10px;
  font-weight: 400;
  padding-top: 8px;
  margin: 0;
}

.engines:hover {
  background-color: #ddd;
}

#openverse-label {
  border-width: 3px;
}

/* FOOTER */

body > footer {
  margin-top: 80px;
}

/* Vocabulary override */

main {
  width: initial;
}

main a {
  color: var(--vocabulary-brand-color-tomato);
}
