/* Import vocabulary.css */
@import "../vocabulary/css/vocabulary.css" layer(vocabulary);

/* BODY */

.body-cont {
  margin: 0 auto;
  padding: 20px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.body-first-sect {
  display: grid;
  place-items: center;
}

.body-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.body-search h3 {
  margin: 0;
  text-align: center;
}

.body-search input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  
  -webkit-transition: 1s;
  transition: 1s;
}

.body-search input:focus {
  outline: 2px solid #686666;
}

.search-button {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

/* Responsive Design */
@media (min-width: 601px) {
  .body-search {
    flex-direction: row;
    align-items: center;
  }

  .body-search input {
    width: auto;
    margin: 0;
    border-radius: 8px 0 0 8px;
  }

  .search-button {
    width: auto;
    border-radius: 0 8px 8px 0;
  }
}

.body-second-sect {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 943px;
}

.body-second-sect p {
  margin-bottom: 8px;
  
  font-size: 13px;
}

.search-engines {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.engines {
  display: block;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  
  cursor: pointer;
}

.search-engines input[type="radio"] {
  display: none;
}

.search-engines input[type="radio"]:checked + label {
  background: #e7eeff;
  border-color: #cedcff;
}

.search-engines label {
  font-size: 13px;
  font-weight: 600;
  color: #333;
}

.engines h3 {
  width: 100%;
}

.engines p {
  margin: 0;
  padding-top: 8px;
  
  color: #404040;
  font-size: 10px;
  font-weight: 400;
}

.engines:hover {
  background-color: #ddd;
}

#openverse-label {
  border-width: 3px;
}

/* FOOTER */

body > footer {
  margin-top: 80px;
}

/* Vocabulary override */

main {
  width: initial;
}

main a {
  color: var(--vocabulary-brand-color-tomato);
}
