@charset "UTF-8";
@import 'vocabulary/css/library-vars.css';


/* BODY */

.body-cont {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.body-first-sect {
  display: grid;
  place-items: center;
}

.body-search {
  display: flex;
  align-items: center;
}

.body-search input {
  -webkit-transition: 1s;
  border-radius: 8px 0 0 8px;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  outline: none;
  padding: 14px;
  transition: 1s;
  width: 100%;
}

.body-search input:focus {
  border: 2px solid #686666;
}

.search-button {
  background-color: #000;
  border-radius: 0 8px 8px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  padding: 14px;
}

.search-checkbox {
  align-items: center;
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.search-checkbox p {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}

.search-checkbox label {
  color: #404040;
  font-size: 12px;
}

.body-second-sect {
  margin-top: 20px;
  margin: 0 auto;
  max-width: 943px;
}

.body-second-sect p {
  font-size: 13px;
  margin-bottom: 8px;
}

.search-engines {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.engines {
  border-radius: 6px;
  border: 1px solid #ddd;
  cursor: pointer;
  display: block;
  padding: 10px;
}

.search-engines input[type="radio"] {
  display: none;
}
.search-engines input[type="radio"]:checked + label {
  background: #e7eeff;
  border-color: #cedcff;
}

.search-engines label {
  color: #333;
  font-size: 13px;
  font-weight: 600;
}

.engines h3 {
  width: 100%;
}

.engines p {
  color: #404040;
  font-size: 10px;
  font-weight: 400;
  padding-top: 8px;
  margin: 0;
}

.engines:hover {
  background-color: #ddd;
}

#openverse-label {
  border-width: 3px;
}


/* FOOTER */

body > footer {
  margin-top: 80px;
}


/* Vocabulary override */

main a {
  color: var(--vocabulary-brand-color-tomato);
}

body > footer a {
  color: var(--vocabulary-brand-color-turquoise);
  text-decoration: none;
}
